@page "/"

<style>
    .container {
        width: 400px;
    }

    button {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
</style>

<div class="container">
    <div class="row">
        @for (var animalNubmer = 0; animalNubmer < shuffledAnimals.Count; animalNubmer++)
            {
                var animal = shuffledAnimals[animalNubmer];
                var uniqueDescrtiption = $"Button #{animalNubmer}";
            <div class="col-3">
                <button @onclick="@(() => ButtonClick(animal, uniqueDescrtiption))" type="button" class="btn btn-outline-dark">
                    <h1>@animal</h1>
                </button>
            </div>
        }
    </div>
</div>
<PageTitle>Index</PageTitle>


@code{
    List<string> animalEmoji = new List<string>()
{
         "🐶", "🐶",
         "🐱", "🐱",
         "🐍", "🐍",
         "🐊", "🐊",
         "🐝", "🐝",
         "🐺", "🐺",
         "🐠", "🐠",
         "🐞", "🐞",
    };

    List<string> shuffledAnimals = new List<string>();
    protected override void OnInitialized()
    {
        SetUpGame();

    }
    private void SetUpGame()
    {
        Random random = new Random();
        shuffledAnimals = animalEmoji
            .OrderBy(item => random.Next())
            .ToList();
    }

    string lastAnimalFound = string.Empty;
    string lastDescription = string.Empty;
    private void ButtonClick(string animal, string animalDescription)
    {
        if (lastAnimalFound == string.Empty)
        {
            //Выбор первого элемента пары. Запомнить его
            lastAnimalFound = animal;
            lastDescription = animalDescription;
        }
        else if ((lastAnimalFound == animal) && (animalDescription != lastDescription)) {
            //Совпадение обнаружено! Выполнить сброс для следующей пары.
            lastAnimalFound = string.Empty;

            //Найденные животные заменяются пустыми строками, чтобы скрыть эмодзи на экране
            shuffledAnimals = shuffledAnimals
                .Select(a => a.Replace(animal, string.Empty))
                .ToList();
        }
        else
        {
            //Пользователь выбрал непарных животных
            //Сбросить сохранённый выбор
            lastAnimalFound = string.Empty;
        }
    }
}
